{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="card">
        <div class="card-body">

            
          This is some text within a card adgasfddddddddddddddddfffffffffsdafffffffffffffffffff<br>fffadgagdafdgbody.
        </div>
      </div>
      <div class="card">
        <div class="card-body">



          This is some text within a caadfasdfasfasfdasdfadsfffddddfffffffffffddddddddddddd<br>dddddddfffffffrd body.
        </div>
      </div>

    </div>
       
</div>

{% endblock %}